Repository 4meta5/skills: changes, and which lefthook commands are due for each by the changed paths.
All: skill-location, hook-location, typecheck, unit-tests, chain-validate, claudemd-sync

skill-location:
  run: ./scripts/check-skill-location.sh
  fail_text: Skills must be at repo root level (<skill-name>/SKILL.md), not in packages/ or elsewhere. See error above.

hook-location:
  run: ./scripts/check-hook-location.sh
  fail_text: Shell scripts must be in hooks/, scripts/, packages/, or <skill>/scripts/. See error above.

typecheck:
  run: npm run typecheck
  fail_text: TypeScript type check failed. Fix type errors before committing.

unit-tests:
  run: npm test
  fail_text: Unit tests failed. Fix failing tests before committing.

chain-validate:
  run: npx tsx src/cli/index.ts validate
  fail_text: Chain validation failed. Fix skills.yaml or profiles.yaml errors.

claudemd-sync:
  run: npx tsx packages/cli/src/index.ts claudemd sync && git add CLAUDE.md
  fail_text: CLAUDE.md sync failed.

fix bug in tests
  packages/cli/src/commands/guard-usage.test.ts
  packages/cli/src/commands/sync.test.ts
  packages/cli/src/commands/sync.ts
Due: none

clean precommit hook leftover from extraction
  .claude/skills
  .gitignore
Due: none

chore: add CHANGELOG.md for v0.3.0 release
  CHANGELOG.md
Due: none

more spring cleaning of skills
  CHANGELOG.md
  CLAUDE.md
  README.md
  dogfood/SKILL.md
  no-workarounds/.provenance.json
  no-workarounds/SKILL.md
  svelte5-rustaws-neon-devops/SKILL.md
  svelte5-rustaws-neon-devops/references/deploy-playbook.md
  svelte5-rustaws-neon-devops/references/stack-spec.md
Due: skill-location, claudemd-sync

link each skill to its SKILL dot md
  README.md
  repo-hygiene/SKILL.md
Due: skill-location, claudemd-sync

clean
  CHANGELOG.md
  CLAUDE.md
  README.md
  code-review-ts/SKILL.md
  differential-review/SKILL.md
  model-router/SKILL.md
  refactor-suggestions/SKILL.md
  rick-rubin/SKILL.md
  skill-maker/SKILL.md
Due: skill-location, claudemd-sync

chore: add CHANGELOG.md for v0.4.0 release
  CHANGELOG.md
Due: none

clean and add other useful skills from trailofbits
  CHANGELOG.md
  CLAUDE.md
  README.md
  semgrep/SKILL.md
  semgrep/references/scanner-task-prompt.md
  semgrep/references/triage-task-prompt.md
  validate.sh
  workflow/SKILL.md
  workflow/references/compound-phase.md
  workflow/references/plan-phase.md
  workflow/references/review-phase.md
  workflow/references/work-phase.md
Due: skill-location, claudemd-sync

clean
  CHANGELOG.md
  CLAUDE.md
  README.md
  differential-review/SKILL.md
  function-analyzer/SKILL.md
  repo-hygiene/SKILL.md
  spec-compliance-checker/SKILL.md
Due: skill-location, claudemd-sync

clean and fix by adding openai yaml configs per skill for codex usage
  CLAUDE.md
  README.md
  code-review-rust/agents/openai.yaml
  code-review-ts/agents/openai.yaml
  differential-review/agents/openai.yaml
  dogfood/agents/openai.yaml
  function-analyzer/agents/openai.yaml
  model-router/agents/openai.yaml
  paul-graham/SKILL.md
  paul-graham/agents/openai.yaml
  paul-graham/references/markdown-readme-guide.md
  refactor-suggestions/agents/openai.yaml
  repo-hygiene/SKILL.md
  repo-hygiene/agents/openai.yaml
  rick-rubin/agents/openai.yaml
  semgrep/agents/openai.yaml
  skill-maker/agents/openai.yaml
  spec-compliance-checker/agents/openai.yaml
  tdd/agents/openai.yaml
  workflow/agents/openai.yaml
Due: skill-location, claudemd-sync

chore: release v0.5.0 with 5 new skills, OpenAI Codex support, agent-agnostic branding
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

chore: release v0.6.0 — stabilize canonical skill taxonomy
  CHANGELOG.md
  README.md
Due: none

clean and release v0.6.0
  make-skill/SKILL.md
  make-skill/agents/openai.yaml
  make-skill/references/frontmatter-spec.md
  make-skill/references/quality-checklist.md
  make-skill/templates/full.md
  make-skill/templates/simple.md
  make-skill/templates/with-references.md
Due: skill-location, claudemd-sync

clean
  README.md
  make-skill/SKILL.md
  make-skill/references/quality-checklist.md
Due: skill-location, claudemd-sync

save changes cleaning
  .gitignore
  CLAUDE.md
  code-review-rust/SKILL.md
  code-review-ts/SKILL.md
  compound-workflow/SKILL.md
  diff-review/SKILL.md
  dogfood/SKILL.md
  function-analyzer/SKILL.md
  install-skill/SKILL.md
  install-skill/agents/openai.yaml
  make-skill/SKILL.md
  model-router/SKILL.md
  paul-graham/SKILL.md
  refactor-suggestions/SKILL.md
  repo-hygiene/SKILL.md
  rick-rubin/SKILL.md
  semantic-grep/SKILL.md
  spec-checker/SKILL.md
  svelte5-cloudflare/SKILL.md
  tdd/SKILL.md
Due: skill-location, claudemd-sync

add fresh eyes skill await adding wip skill before updating docs and cutting next release
  CLAUDE.md
  fresh-eyes/SKILL.md
  fresh-eyes/agents/openai.yaml
  fresh-eyes/references/planning-prompts.md
  fresh-eyes/references/reflection-prompts.md
  fresh-eyes/references/review-prompts.md
Due: skill-location, claudemd-sync

updates
  .gitignore
  CLAUDE.md
  README.md
  make-skill/SKILL.md
  prompt-append.sh
  prompt-improve.sh
  rick-rubin/SKILL.md
  wip/SKILL.md
  wip/agents/openai.yaml
  wip/scratch.md
Due: skill-location, claudemd-sync

test ppx it works
  README.md
  wip/scratch.md
Due: none

add more skills related to goats and their principles
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  README.md
  bryan-cantrill/SKILL.md
  bryan-cantrill/agents/openai.yaml
  elon-musk/SKILL.md
  elon-musk/agents/openai.yaml
  linus-torvalds/SKILL.md
  linus-torvalds/agents/openai.yaml
  make-skill/SKILL.md
  steve-jobs/SKILL.md
  steve-jobs/agents/openai.yaml
Due: skill-location, claudemd-sync

clean
  .gitignore
  generate-external-skills-report.zsh
  install-skill/SKILL.md
  make-skill/SKILL.md
  make-skill/references/quality-checklist.md
  validate.sh
Due: skill-location, claudemd-sync

clean
  .gitignore
  CLAUDE.md
  generate-external-skills-report.zsh
  script-agents/SKILL.md
  script-agents/agents/openai.yaml
Due: skill-location, claudemd-sync

clean and make more resilient
  README.md
  make-skill/SKILL.md
  scripts/check-skill-count.sh
Due: skill-location, hook-location, claudemd-sync

Path conditions:
  skill-location: any of: **/SKILL.md
  hook-location: any of: **/*.sh
  typecheck: any of: *.{ts,tsx} and ^packages/skills\-library/
  unit-tests: any of: *.{ts,tsx} and ^packages/skills\-library/
  chain-validate: any of: packages/chain/chains/*.yaml and ^packages/chain/
  claudemd-sync: any of: **/SKILL.md
